*{
    font-family: 'interregular';
    scroll-behavior: smooth;
    
}

.div-gaps{
    padding: 50px 0;
}

.div-gaps-medium{
    padding: 25px 0;
}

.sections-gaps{
    padding: 70px 0;
}

.card{
    $card-color:$card-color
}

.cards-gap{
padding: 30px 0;    
}

.logo-image{
    object-fit: contain;
    width: 25%;
    
}


