$bg-color:#111;
$footer-bg:#252525;
$txt-color:white;
$card-color: #3A3A3A;
$link-color:rgb(141, 141, 141);
$hover-color1:rgb(142, 126, 27);

$font-size:(
    "large":120px,
    "medium":30px,
    "medmax":50px,
    "small":20px,
);

 