//portrait tablets
@media screen and ( min-width: 777px) and (max-width:1025px){

    .bilboard{
        overflow-y: hidden;
        height: 100vh;

        .mynav{
            display: none;
        }

        .herotxt-grp{
            text-align: center;
        }

        .social-icons{
            transform: translateY();
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            
            li{
                transform: rotate(0);
                display: flex;
            }
        }
    }

    .work-section{
       
        .mynav{
            display: none;
        }
    }

    .contact-form{
        height: 80vh;
        .mynav{
            display: none;
        }
    }

    .footer-section{
        
    }

  
  
}

//medium devices media queries
@media screen and ( min-width: 577px) and (max-width:768px) {




}

//small screens media queries

@media screen and  (max-width: 567px){

  .bilboard{
      
      text-align: center;

      .mynav{
        display: none;
      }

      .herotxt-grp{

        .waved-img{
            object-fit: contain;
            width: 30px;
        }

        h1{
            font-size: 70px;
        }
        p{
            font-size: 30px;
        }

        div{
            
        }
      }

      .social-icons{
        flex-direction: row;
        justify-content: center;
        
        li{
            transform: rotate(0);

            a{
                
            }

        }
      }
  }

.work-section{
    .div-gaps-medium{
        padding: 8px 0;
    }
    .mynav{
        display: none;
    }

    .genesis-content{
        flex-direction: column;
        text-align: center;
    }
}

header{
    .overlay{
        .overlay-content{
            a{
                font-size: 40px
            }
            .closebtn{
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }
    }
}

.about-me-skills{
    .mynav{
        display: none;
    }

    .all-all{

        p{
            width: 150%;
            text-align: center;
            color: rgb(146, 146, 146);
            transform: translateX(-15%);
        }

        .items-alll{
            padding-top: 140px;
            .simz{
       
                display: none;
            }
            h3{
                font-size: 23px;
                width: 69%;
                transform: translateX(-15%);
                text-align: center;
                font-weight: 800;

                span{
                    background-color: rgba(0, 255, 255, 0.303);
                    
                    
                }
            }
        }
    }
}

.contact-form{
    padding: 50px;
    .mynav{
        display: none;
    }

    form{
        padding-top: 100px;
    }
}

}