/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {

    .bilboard{
            background-color: rgb(56, 107, 90);

            .herotxt-grp{
                h1{
                    font-size: 30px;
                }
            }
    }



}
 
/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    .bilboard {
        background-color: rgb(8, 0, 255);
  }
}
 
/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
    .bilboard {
        background-color: rgb(170, 163, 105);
  }
}
 
/* For Mobile Phones Portrait or Landscape View */
@media screen and (max-device-width: 640px) {
    .bilboard {
        background-color: rgb(43, 0, 255);
  }
}
 
/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {

    header{
        .overlay{
            .overlay-content{
                a{
                    font-size: 45px;
                }
            }
        }
    }

    .bilboard{
        overflow-y: hidden;

        .mynav{
            display: none;
            
        }

        .social-icons{
            display: flex;
            flex-direction: row;
            transform: translateY(0);
            transform: translateX(12%);
            gap: 145px;

            li{
                transform: rotate(0deg);
                display: flex;

                a{
                    text-decoration: none;
                    list-style: none;
                }
            }

        }

        .herotxt-grp{
            display: flex;
            align-items: center;
            transform: translateX(12%);
            
            h1{
                font-size: 70px;

            }
        }
    }
}
 
/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px) and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
    .bilboard {
        background-color: red;
  }
}
 
/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px) and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {

    header{
        .overlay{
            .overlay-content{
                a{
                    font-size: 45px;
                }
            }
        }
    }

    .bilboard{
        overflow-y: hidden;

        .mynav{
            display: none;
            
        }

        .social-icons{
            display: flex;
            flex-direction: row;
            transform: translateY(0);
            transform: translateX(12%);
            gap: 145px;

            li{
                transform: rotate(0deg);
                display: flex;

                a{
                    text-decoration: none;
                    list-style: none;
                }
            }

        }

        .herotxt-grp{
            display: flex;
            align-items: center;
            transform: translateX(12%);
            
            h1{
                font-size: 70px;

            }


        }
    }


}



 
